.logo-login {
  display: flex;
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
  width: 100%;
}

.img {
  width: 100%; /* Make the width responsive */
  max-width: 120px; /* Ensure the image doesn't exceed the max width */
  height: auto; /* Adjust the height automatically based on the aspect ratio */
}
.background-content{
    background-color: black;
}
.sub-title{
    font-size: 20px;
    font-weight: 600;
    color: #57575a;
}
.mt{
    margin-top: 200px;
}

.check-button{
    --background:#73A33F;
    height: 48px;
    border-radius: 12px;

  }
  .title-checkin{
    font-size: 16px;
    font-weight: 400;
    margin-left: 5px;
    margin-bottom: 16px;
  }
  .content{
    padding: 20px;
  }
  .warning{
    text-align: center;
    font-size: 16px;
    
  }
  .bg-text{
    background: #e8625cc9;
    color: white;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 6px;
    margin-right: 6px;
    height: 60px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}
  
  .mr-content{
    margin-top: 20px;
  }


.ion-content {
    background-image: url('../../assets/Login.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
.bg-card{
    background: #ffffff;
    margin-left: 80px;
    margin-right: 80px;
}
.ion-padding{
    padding: 40px;
}



.select-fill-solid {
  /* --background: var(--ion-color-step-50, var(--ion-background-color-step-50, #f2f2f2)); */
  --border-color: #ffffff;
  --border-radius: 4px;
  --padding-start: 16px;
  --padding-end: 16px;
  min-height: 56px;
  border: solid 0.8px;
  border-radius: 5px;
  border-color: #757777;
  
}

.select-highlight {
  bottom: -1px;
  position: absolute;
  width: 100%;
  height: var(--highlight-height);
  transform: scale(0);
  transition: transform 200ms ease 0s, -webkit-transform 200ms ease 0s;
  background: #73a33f;
}
.input-wrapper.sc-ion-input-md input.sc-ion-input-md {
  -webkit-transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: justify;
  margin-left: 15px;
}


.select-custom {
  --background: white; /* Set the background to white */
  --color: black; /* Optional: Set the text color to black for contrast */

}
.img {
  width: 100%; /* Make the width responsive */
  max-width: 120px; /* Ensure the image doesn't exceed the max width */
  height: auto; /* Adjust the height automatically based on the aspect ratio */
  display: block; /* Ensure the image behaves as a block element */
  margin: 0 auto; /* Center the image horizontally */
  position: relative; /* You can use relative or static positioning depending on your layout */
  align-self: center; /* Center it in the flex container if it's within one */
}
.radio-display {
  display: inline-flex;
  margin-left: -15px;
}

.radio-inner {
  border-radius: var(--inner-border-radius);
  width: calc(50% + var(--border-width));
  height: calc(50% + var(--border-width));
  transform: scale3d(0, 0, 0);
  transition: transform 280ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #73a33f;
}


.custom-popover {
  width: auto; /* This will allow it to fit the content */
  max-width: 300px; /* Adjust max-width as needed */
  min-width: 100%; /* Ensure it at least takes the full width */
}