.customHeader {
	background-color: #8D2026;
	height: 265px;
}
.mainContent {
	z-index: 100;
}
.title{
	font-size: 30px;
	font-weight: 600;
}
.customBackButton {
	position: absolute;
	top: 1rem;
	left: 1rem;
	font-size: 1.75rem;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: center;
    color: #fff;
}

.customBackButton2 {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 1.75rem;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: center;
    color: #fff;
}

.customBackButton svg, .customBackButton2 svg {
	color: rgb(255, 255, 255);
	height: 1.75rem;
	width: 1.75rem;
}

.positionChart{
    margin-top: 5ch
}
.chartTitle{
    position: relative;
    top: 1rem;
    color: #fff;
}
.logoDashboard{
    width: 20vw;
	height: 30px;
}
.floatingCard{
	width: 100%;
	position: relative;
	margin-top: -1.3em;
}
.cardStatistik{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: stretch;
}
.imageIcon{
	width: 30px;
}
.stat{
	color:#8D2026;
	font-size: 14px;
	margin-left: 5lvw;
}
.buttonImage{
    text-align: center;
    border: 1px solid #8e2026;
    border-radius: 10px;
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.buttonImage ion-img{
	height: 100px;
}
.buttonImage p{
	margin: 0;
}
.custom-card{
	height: 100px;
	/* background: #fff; */
}
.custom-color{
	color: #070606;
	
}
.riwayat{
	margin-top: 20px;
	font-size: 20px;
	margin-left: -80px;
}
.bg-header{
	background-color: #8D202614;
}
.title-history{
	margin-left: 15px;
	font-size: 24px;
}
.label-end{
	float: right;
}
.label-price{
	margin-left: 30px;
}
.row-content{
	display: inline-flex;
	gap: 5px;
	
}
.mr-top{
	margin-top: 30px;
}
.header-dash{
	padding: 20px;
	background: white;
	height: 60px;
	

}
.padding-content{
	padding: 5px;
}
.radio-display{
	display: inline-flex;
}
.btn-start{
	float: inline-end;
	
}
.check-button{
	--background:#73A33F;
	
}
.input-highlight {
    /* Define your highlighting styles here */
    border: 1px solid #a1a4a8;
    border-top: none;
    border-left: none;
    border-right: none;
 
  }
  .mt20{
	margin-top: 20px;
  }
  .btn-add{
	background: #198754;
  }


  .ion-button {
	--background: #198754;
	--background-hover:  #a9f610;
	--background-activated: #4ff662;
	--border-radius: 4px;
	--border-style: solid;
	--border-width: 1px;
  
	--box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  
	--ripple-color: rgb(199, 183, 5);
  
	--padding-top: 10px;
	--padding-bottom: 10px;
  }

  .ion-button-kouta {
	--background: #6030FF;
	--background-hover:  #3f3f3f;
	--background-activated: #4ff662;
	--border-radius: 4px;
	--border-style: solid;
	--border-width: 1px;
  
	--box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  
	--ripple-color: rgb(199, 183, 5);
  
	--padding-top: 10px;
	--padding-bottom: 10px;
  }
  .indicator{
	text-align: end;
	color: #73A33F;
	font-size: 20px;
	font-weight: bold;
  }
  .table{
	padding: 20px;
    margin-top: -60px;
  }