
.getStarted {
    height: 100%;
    background-color: #8D2026;
    padding-top: 30ch;
}

.getStarted ion-card-title {
    color: #ffffff !important;
}


.getStartedButton {
    font-size: 1rem;
    margin-top: 1rem;
}
